<br>
    <a href="/rooms"> <button class="btn btn-primary"> Volver a Habitaciones </button> </a>
<h2> Modificar el stock de la habitación <%= editStock.type %> <%= editStock.category %> <%= editStock.view %>  </h2>
<br>

<div class="container">
    <form class="form" action="/rooms/<%= editStock._id %>/stock" method="POST" id="form">
      <table class="table table-hover">  
        <tbody>
         <tr>
            <td> <label for="booked"> Reservado: </label> </td>
            <td>
                <select class="form-control" name="booked" id="booked" type="boolean" required>
                    <option value="false"> Disponible </option>
                    <option value="true"> Reservado </option>
                </select>
            </td>
         </tr>

         <tr>
            <td> <label for="date"> Date: </label> </td>
            <td> <input type="date" name="date" id="date" value="<%= editStock.nights.date %>" required> </td>
         </tr>   

         <tr>
            <td colspan=2> <button> Guardar cambios </button> </td>
         </tr>

        <tbody>
      </table>
    </form>
</div>

<div class="container showDates">
      <table class="table table-hover">  
        <thead>
            <tr>
            <th>Fecha</th>
            <th>Reservado</th>
            </tr>
        </thead>

         <% editStock.nights.forEach((nightData) => { %>
        <tbody>
            <tr>
            <td><%= nightData.date %> </td>
            <td><%= nightData.booked %> </td>
            </tr>
        </tbody>
            <%  }); %>

        <tbody>
      </table>
 </div>
