<br>
    <a href="/rooms"> <button class="btn btn-primary"> Volver a Habitaciones </button> </a>
<h2> Editar información de la habitación <%= editRoom.type %> <%= editRoom.category %> <%= editRoom.view %> </h2>
<br>

<div class="container-fluid">
    <form class="form" action="/rooms/<%= editRoom._id %>" method="POST" id="form">
      <table class="table table-hover">  
        <tbody>
         <tr>
            <td> <label for="category"> Categoría: </label> </td>
            <td>
                <select class="form-control" name="category" id="category" type="text" value="<%= editRoom.category %>" required>
                    <option value="Standard">Estándar</option>
                    <option value="Suite">Suite </option>
                </select>
            </td>
         </tr> 

         <tr>
            <td> <label for="type"> Tipo: </label> </td>
            <td>
                <select class="form-control" name="type" id="type" type="text" value="<%= editRoom.type %>" required>
                        <option value="Doble">Doble</option>
                        <option value="Triple">Triple </option>
                        <option value="Cuádruple">Cuádruple </option>
                        <option value="Individual">Individual </option>
                </select>
            </td>
         </tr> 

         <tr>
            <td> <label for="view"> Vistas: </label> </td>
            <td> <input type="text" name="view" id="view" value="<%= editRoom.view %>"> </td>
         </tr> 

         <tr>
            <td> <label for="capacity"> Màx. pax: </label> </td>
            <td> <input type="number" name="capacity" id="capacity" value="<%= editRoom.capacity %>" required> </td>
         </tr> 
        
         <tr>
            <td> <label for="size"> Tamaño en m2: </label> </td>
            <td> <input type="number" name="size" id="size" value="<%= editRoom.size %>" required> </td>
         </tr> 

         <tr>
            <td> <label for="typeOfBed"> Tipo de cama: </label> </td>
            <td>
                <select class="form-control" name="typeOfBed" id="typeOfBed" type="text" value="<%= editRoom.typeOfBed %>" required>
                    <option value="Matrimonio">Cama de Matrimonio</option>
                    <option value="Separadas">Dos camas individuales </option>
                </select>
            </td>
         </tr> 

         <tr>
            <td> <label for="description"> Descripción: </label> </td>
            <td> <input type="text" name="description" id="description" value="<%= editRoom.description %>"> </td>  
            
         </tr> 

         <tr>
            <td> <label for="price"> Precio: </label> </td>
            <td> <input type="number" name="price" id="price" value="<%= editRoom.price %>" required> </td>
         </tr>
        
         <tr>
            <td colspan=2> <button> Guardar cambios </button> </td>
         </tr>

    <tbody>
  </table>
 </form>
</div>
