<br>
    <a href="/"> <button class="btn btn-primary"> Volver al menú principal </button>  </a> 

<h2> Habitaciones Disponibles </h2>
<br>

<div class="container-fluid container-users">

<h4> Fecha seleccionada: <%= checkInDate %>  </h4>

    <table class="table table-hover">
        <thead>
            <tr>
            <th>Imagen</th>
            <th>Tipo </th>
            <th>Categoría</th>
            <th>Vista</th>
            <th>Máximo de personas</th>
            <th>Tamaño en m2</th>
            <th>Tipo de cama</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th> Selecciona <th>
            </tr>
    </thead>
    <% roomAvailable.forEach((roomToBook) => { %>
        <tbody>
            <tr>
            <td scope="row"><img class="roomPic" src="<%= roomToBook.photo %>" alt="roompicture"></td>
            <td> <%= roomToBook.type %> </td>
            <td> <%= roomToBook.category %> </td>
            <td> <%= roomToBook.view %> </td>
            <td> <%= roomToBook.capacity %> </td>
            <td> <%= roomToBook.size %> </td>
            <td> <%= roomToBook.typeOfBed %> </td>
            <td> <%= roomToBook.price %> </td>
            <td> <%= roomToBook.description %> </td>
        <form class="form" action="/bookings/<%= roomToBook._id %>/new" method="POST" id="form">    
            <td>
                <select class="form-control" name="booked" id="booked" type="boolean" required>
                    <option value="true"> 1 </option>
                    <option value="false"> 0 </option>
                </select>
                <input type="hidden" name="checkInDate" id="surname" value="<%= checkInDate %>">
            </td>
            <th>   
               <button class="btn btn-success"> Reservar </button>
            </th>
        </form>    
            </tr>
        </tbody>
            <%  }); %>
    </table>
</div>